<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tutorial</title>
  <link href="/buyandshipdemo/assets/css/common.css?02b96dc10fd0998eed5c" rel="stylesheet">
  <link href="/buyandshipdemo/assets/css/tutorial.css?02b96dc10fd0998eed5c" rel="stylesheet">
</head>

<body>

  <div id="app" class="layout">

    <header class="bs-header">
      <div class="header-l">
        <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
        <a class="header-logo" href="/">
          <img class="header-logo-image" alt="logo" src="/buyandshipdemo/assets/img/company_logo_dark.png" srcset="
            /buyandshipdemo/assets/img/company_logo_dark.png 1x,
            /buyandshipdemo/assets/img/company_logo_dark@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_dark@3x.png 3x
          ">
          <img class="header-logo-image-sm" alt="logo" src="/buyandshipdemo/assets/img/company_logo_box.png" srcset="
            /buyandshipdemo/assets/img/company_logo_box.png 1x,
            /buyandshipdemo/assets/img/company_logo_box@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_box@3x.png 3x
          ">
        </a>
        <nav class="header-nav">
          <div class="header-nav-item header-nav-item--more">
            <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <div class="bs-icon-country"></div>
              <span>台灣</span>
            </a>
          </div>
        </nav>
        <!-- <bs-locale-select /> -->
      </div>
      <div class="header-r">
        <nav class="header-nav">
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="/tutorial">代運使用教學</a>
          </div>
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="/pricing">運費計算</a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('shopping')">
              精選購物網站
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('faq')">
              常見問題
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
        </nav>

        <div bs-logout class="header-r-member">
          <a class="header-member" href="https://www.buyandship.com.tw/login/">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">登入</span>
          </a>
          <!-- <div class="header-member-sign-sm text-subtitle-sm" @click="signup">Sign&nbsp;up</div> -->
          <button class="bs-button header-member-sign text-subtitle-sm bs-button--primary bs-button--md" @click="$gobalFunction.redirect('https://www.buyandship.com.tw/login/')">
            註冊
          </button>
        </div>

        <div bs-login class="header-r-member">
          <a class="header-member header-member--m" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
          </a>
          <a class="header-member header-member--pc" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
          </a>
          <aside class="header-account">
            <div class="header-account-overlay"></div>
            <ul class="header-account-list">
              <li class="header-account-list-item"><a href="">我的帳戶</a></li>
              <li class="header-account-list-item"><a href="">個人資料</a></li>
              <li class="header-account-list-item"><a href="">海外倉庫</a></li>
              <li class="header-account-list-item"><a href="">我的貨物</a></li>
              <li class="header-account-list-item"><a href="">我的轉運單</a></li>
              <li class="header-account-list-item"><a href="">登出</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </header>

    <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="/shopping">發燒話題</a>
      <a class="text-h4" href="/shopping">最新消息</a>
      <a class="text-h4" href="/shopping">精選購物網站</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="/faq">常見問題</a>
      <a class="text-h4" href="/warehouses">海外倉庫一覽</a>
      <a class="text-h4" href="/restrictions">禁運物品目錄</a>
      <a class="text-h4" href="/contact-us">聯絡我們</a>
      <a class="text-h4" href="/advantage">我們的優勢</a>
      <a class="text-h4" href="/insurance">貨物保價服務</a>
      <a class="text-h4" href="/terms">使用條款</a>
      <a class="text-h4" href="/privacy">隱私政策</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
      <div class="country-title text-h6">請選擇國家或地區</div>
      <a-row>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.tw/">
            <span class="icon-flag-tw"></span>
            <span class="ml">台灣</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://mo.buynship.com/">
            <span class="icon-flag-mo"></span>
            <span class="ml">澳門</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.today/">
            <span class="icon-flag-hk"></span>
            <span class="ml">香港</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.cn/">
            <span class="icon-flag-cn"></span>
            <span class="ml">中國</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.co.jp/">
            <span class="icon-flag-jp"></span>
            <span class="ml">日本</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://au.buynship.com/">
            <span class="icon-flag-au"></span>
            <span class="ml">澳洲</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.sg/">
            <span class="icon-flag-sg"></span>
            <span class="ml">新加坡</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.my/">
            <span class="icon-flag-my"></span>
            <span class="ml">馬來西亞</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.in/">
            <span class="icon-flag-in"></span>
            <span class="ml">印度</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://ae.buynship.com/">
            <span class="icon-flag-ea"></span>
            <span class="ml">阿聯酋</span>
          </a>
        </a-col>
      </a-row>

      <!-- <a href="#" style="display: inline-block"><span>Singapore</span></a>
        </li>
        <li>
          <a href="#"><span>Malaysia</span></a>
        </li>
        <li>
          <a href="#"><span>Hong Kong</span></a>
        </li>
        <li>
          <a href="#"><span>Macau</span></a>
        </li>
        <li>
          <a href="#"><span>China</span></a>
        </li>
        <li>
          <a href="#"><span>Japan</span></a>
        </li>
        <li>
          <a href="#"><span>India</span></a>           -->

    </bs-nav-panel>
    <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" v-cloak>
      <div class="mobile-nav-inner">
        <nav class="slinky-menu slinky-theme-default">
          <ul>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">我的帳戶</span></a>
            </li>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">海外倉庫</span></a>
            </li>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">我的貨物</span></a>
            </li>
            <li bs-login>
              <a class="slinky-menu__underline" href="/tutorial"><span
                  class="text-subtitle-sm">我的轉運單</span></a>
            </li>
            <li>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">代運使用教學</span></a>
            </li>
            <li>
              <a href="/pricing"><span
                  class="text-subtitle-sm">運費計算</span></a>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">精選購物網站</span></a>
              <ul>
                <li>
                  <a href="/shopping"><span>購物</span></a>
                <li>
                <li>
                  <a href="/restrictions"><span>貨物限制</span></a>
                </li>
                <!-- <li>
                  <a href="#" class="next"><span>Led Zeppelin</span></a>
                  <ul>
                    <li>
                      <a href="#" class="next"><span>Physical Graffiti</span></a>
                      <ul>
                        <li>
                          <a href="#"><span>Houses of the Holy</span></a>
                        </li>
                        <li>
                          <a href="#"><span>In My Time of Dying</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="next slinky-menu__underline">
                <span class="text-subtitle-sm">常見問題</span>
              </a>
              <ul>
                <li>
                  <a href="/faq"><span>常見問題</span></a>
                </li>
                <li>
                  <a href="/warehouses"><span>海外倉庫一覽</span></a>
                </li>
                <li>
                  <a href="/contact-us"><span>聯絡我們</span></a>
                </li>
                <li>
                  <a href="/terms"><span>使用條款</span></a>
                </li>
                <li>
                  <a href="/privacy"><span>隱私政策</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">國家及地區</span></a>
              <ul>
                <li>
                  <a href="https://www.buyandship.com.tw/">
                    <i class="slinky-link__icon icon-flag-tw-md"></i>
                    <span class="slinky-link__desc ml">台灣</span>
                  </a>
                </li>
                <li>
                  <a href="https://mo.buynship.com/">
                    <i class="slinky-link__icon icon-flag-mo-md"></i>
                    <span class="slinky-link__desc ml">澳門</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.today/">
                    <i class="slinky-link__icon icon-flag-hk-md"></i>
                    <span class="slinky-link__desc ml">香港</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.cn/">
                    <i class="slinky-link__icon icon-flag-cn-md"></i>
                    <span class="slinky-link__desc ml">中國</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.co.jp/">
                    <i class="slinky-link__icon icon-flag-jp-md"></i>
                    <span class="slinky-link__desc ml">日本</span>
                  </a>
                </li>
                <li>
                  <a href="https://au.buynship.com/">
                    <i class="slinky-link__icon icon-flag-au-md"></i>
                    <span class="slinky-link__desc ml">澳洲</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.sg/">
                    <i class="slinky-link__icon icon-flag-sg-md"></i>
                    <span class="slinky-link__desc ml">新加坡</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.my/">
                    <i class="slinky-link__icon icon-flag-my-md"></i>
                    <span class="slinky-link__desc ml">馬來西亞</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.in/">
                    <i class="slinky-link__icon icon-flag-in-md"></i>
                    <span class="slinky-link__desc ml">印度</span>
                  </a>
                </li>
                <li>
                  <a href="https://ae.buynship.com/">
                    <i class="slinky-link__icon icon-flag-ea-md"></i>
                    <span class="slinky-link__desc ml">阿聯酋</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li>
              <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
              <ul>
                <li>
                  <a href="#"><span>English</span></a>
                </li>
                <li>
                  <a href="#"><span>繁體中文</span></a>
                </li>
                <li>
                  <a href="#"><span>簡体中文</span></a>
                </li>
              </ul>
            </li> -->
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">登出</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-spacer">
        <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
      </div>
    </aside>

    <transition name="opacity" v-cloak>
      <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
    </transition>

    <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password>


    <!-- WP:start -->

    <bs-default-header-sticky v-cloak>
      <span class="pointer" v-show="currentTitle" @click="scrollToTitle">{{ currentTitle }}</span>
      <span v-show="currentSubtitle">&nbsp;>&nbsp;</span>
      <span class="pointer" v-show="currentSubtitle" @click="scrollToSubtitle">{{ currentSubtitle }}</span>
    </bs-default-header-sticky>

    <main class="main">
      <div class="bs-banner">
        <div class="bs-container">
          <div class="bs-banner-title">
            如何使用 Buyandship 國際網購代運
          </div>
          <div class="bs-banner-subtitle">
            觀看簡單的使用流程，與 Buyandship 國際網購代運一起盡情享受網購樂趣
          </div>
          <div class="bs-banner-link text-subtitle-sm">
            <a href="#" @click.prevent="openVideo('https://www.youtube.com/watch?v=Tj7346AVTqc&feature=emb_title')">
              觀看教學影片</a>
          </div>
        </div>
      </div>
      <article class="bs-container bs-container--paddingV">
        <section class="section section--progress">
          <div class="progress-title text-h5 js-content-anchor" data-title="如何使用 ?" data-subtitle="">如何使用 ?</div>
          <div class="progress-step-container">
            <div class="progress-step progress-step--1">
              <div class="progress-step-media">
                <img class="progress-step-media-image" src="/buyandshipdemo/assets/img/howitworks_1.png" srcset="
                /buyandshipdemo/assets/img/howitworks_1.png 1x,
                /buyandshipdemo/assets/img/howitworks_1@2x.png 2x,
                /buyandshipdemo/assets/img/howitworks_1@3x.png 3x
              ">
              </div>
              <div class="progress-step-bar">
                <div class="progress-step-bar-dot"></div>
                <div class="progress-step-bar-line"></div>
              </div>
              <div class="progress-step-content">
                <div class="progress-step-content-title text-h6 js-content-anchor" data-title="如何使用 ?" data-subtitle="取得你的海外倉庫地址">
                  <span><i class="bs-icon-overseas-house"></i></span>
                  <span class="step-title">取得你的海外倉庫地址</span>
                </div>
                <div class="progress-step-content-desc">立即註冊取得你的專屬海外倉庫地址，並網購時填寫在送貨地址上（記得TW會員編號）</div>
                <div class="progress-step-action">
                  <button class="bs-button bs-button--primary bs-button--outline full-width" @click="$gobalFunction.redirect('https://www.buyandship.com.tw/login/')">
                    馬上領取
                  </button>
                </div>
              </div>
            </div>
            <div class="progress-step progress-step--2">
              <div class="progress-step-media">
                <img class="progress-step-media-image" src="/buyandshipdemo/assets/img/howitworks_2.png" srcset="
                /buyandshipdemo/assets/img/howitworks_2.png 1x,
                /buyandshipdemo/assets/img/howitworks_2@2x.png 2x,
                /buyandshipdemo/assets/img/howitworks_2@3x.png 3x
              ">
              </div>
              <div class="progress-step-bar">
                <div class="progress-step-bar-dot"></div>
                <div class="progress-step-bar-line"></div>
              </div>
              <div class="progress-step-content">
                <div class="progress-step-content-title text-h6 js-content-anchor" data-title="如何使用 ?" data-subtitle="開始盡情網購">
                  <span><i class="bs-icon-shop-bag"></i></span>
                  <span class="step-title">開始盡情網購</span>
                </div>
                <div class="progress-step-content-desc">開始盡情在海外網購，送貨地址填寫我們海外倉庫地址（記得TW會員編號），讓我們為您簽收戰利品吧！</div>
                <div class="progress-step-action">
                  <button class="bs-button bs-button--primary bs-button--outline full-width" @click="$gobalFunction.redirect('/shopping')">
                    全球剁手指
                  </button>
                </div>
              </div>
            </div>
            <div class="progress-step progress-step--3">
              <div class="progress-step-media">
                <img class="progress-step-media-image" src="/buyandshipdemo/assets/img/howitworks_3.png" srcset="
                /buyandshipdemo/assets/img/howitworks_3.png 1x,
                /buyandshipdemo/assets/img/howitworks_3@2x.png 2x,
                /buyandshipdemo/assets/img/howitworks_3@3x.png 3x
              ">
              </div>
              <div class="progress-step-bar">
                <div class="progress-step-bar-dot"></div>
                <div class="progress-step-bar-line"></div>
              </div>
              <div class="progress-step-content">
                <div class="progress-step-content-title text-h6 js-content-anchor" data-title="如何使用 ?" data-subtitle="乖乖來申報">
                  <span><i class="bs-icon-declare-done"></i></span>
                  <span class="step-title">乖乖來申報</span>
                </div>
                <div class="progress-step-content-desc">賣家寄出貨品，以貨物追蹤編號（Tracking number）在網站或應用程式中申報貨物資訊，按此到會員中心新增貨物並進行申報。</div>
                <div class="progress-step-action">
                  <button class="bs-button bs-button--primary bs-button--outline full-width" @click="$gobalFunction.redirect('https://www.buyandship.com.tw/login/')">
                    新增貨品
                  </button>
                </div>
              </div>
            </div>
            <div class="progress-step progress-step--4">
              <div class="progress-step-media">
                <img class="progress-step-media-image" src="/buyandshipdemo/assets/img/howitworks_4.png" srcset="
                /buyandshipdemo/assets/img/howitworks_4.png 1x,
                /buyandshipdemo/assets/img/howitworks_4@2x.png 2x,
                /buyandshipdemo/assets/img/howitworks_4@3x.png 3x
              ">
              </div>
              <div class="progress-step-bar">
                <div class="progress-step-bar-dot"></div>
                <div class="progress-step-bar-line"></div>
              </div>
              <div class="progress-step-content">
                <div class="progress-step-content-title text-h6 js-content-anchor" data-title="如何使用 ?" data-subtitle="合併貨品及付款">
                  <span><i class="bs-icon-consolidate"></i></span>
                  <span class="step-title">合併貨品及付款</span>
                </div>
                <div class="progress-step-content-desc">貨品抵達香港倉庫，可以 Buyandship 國際網購代運積分或信用卡（海外交易）支付運費，快速又方便。從不同國家網購的產品都能合併成單一貨物運送，為你節省國際空運費用。</div>
                <div class="progress-step-action">
                  <button class="bs-button bs-button--primary bs-button--outline full-width" @click="$gobalFunction.redirect('/pricing')">
                    全球剁手指
                  </button class="step-title">
                </div>
              </div>
            </div>
            <div class="progress-step progress-step--5">
              <div class="progress-step-media">
                <img class="progress-step-media-image" src="/buyandshipdemo/assets/img/howitworks_5.png" srcset="
                /buyandshipdemo/assets/img/howitworks_5.png 1x,
                /buyandshipdemo/assets/img/howitworks_5@2x.png 2x,
                /buyandshipdemo/assets/img/howitworks_5@3x.png 3x
              ">
              </div>
              <div class="progress-step-bar">
                <div class="progress-step-bar-dot"></div>
              </div>
              <div class="progress-step-content">
                <div class="progress-step-content-title text-h6 js-content-anchor" data-title="如何使用 ?" data-subtitle="翹腳等收貨">
                  <span><i class="bs-icon-order-done"></i></span>
                  <span class="step-title">翹腳等收貨</span>
                </div>
                <div class="progress-step-content-desc">最快只需 3 天，你的貨物就能宅配到家。 你可以透過 Buyandship 國際網購代運網站或應用程式緊貼追蹤貨物的最新運送狀態。</div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--pricing">
          <div class="pricing-title text-h5 js-content-anchor" data-title="截單及空運時間" data-subtitle="">
            截單及空運時間
            <div class="pricing-title-deco"></div>
          </div>
          <div class="scheme">
            <div class="scheme-section">
              <div class="scheme-card-container">
                <div class="scheme-card">
                  <div class="scheme-cloumn">
                    <section class="scheme-section scheme-flags">
                      <div class="scheme-flags-container">
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-us-md"></i>
                          <span class="scheme-flags-icon-name">
                        US
                      </span>
                        </div>
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-kr-md"></i>
                          <span class="scheme-flags-icon-name">
                        KR
                      </span>
                        </div>
                      </div>
                    </section>
                    <!-- <section class="scheme-section scheme-pricing">
                  <div class="text-h4">$150</div> <div class="text-notice">Every Pound (NT$)</div>
                </section> -->
                    <section class="scheme-section scheme-parcel-info">
                      <ul>
                        <li>每週 5 次</li>
                        <li>香港時間逢星期二至星期六</li>
                      </ul>
                    </section>
                  </div>
                  <div class="scheme-cloumn">
                    <section class="scheme-section scheme-flags">
                      <div class="scheme-flags-container">
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-us-md"></i>
                          <span class="scheme-flags-icon-name">US</span>
                        </div>
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-sg-md"></i>
                          <span class="scheme-flags-icon-name">SG</span>
                        </div>
                      </div>
                    </section>
                    <section class="scheme-section scheme-parcel-info">
                      <ul>
                        <li>每週 5 次</li>
                        <li>香港時間逢星期二至星期六</li>
                      </ul>
                    </section>
                  </div>
                  <div class="scheme-cloumn">
                    <section class="scheme-section scheme-flags">
                      <div class="scheme-flags-container">
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-tw-md"></i>
                          <span class="scheme-flags-icon-name">TW</span>
                        </div>
                        <div class="scheme-flags-icon">
                          <i class="icon-flag-sg-md"></i>
                          <span class="scheme-flags-icon-name">SG</span>
                        </div>
                      </div>
                    </section>
                    <section class="scheme-section scheme-parcel-info">
                      <ul>
                        <li>每週 5 次</li>
                        <li>香港時間逢星期二至星期六</li>
                      </ul>
                    </section>
                  </div>
                </div>
              </div>
              <section class="scheme-section scheme-info">
                <input id="scheme-info-field--Europe" type="checkbox" class="scheme-info-field">
                <label for="scheme-info-field--Europe" class="scheme-info-straw">
                  <span class="icon-info"></span>
                  <span
                class="text-subtitle-sm scheme-info-field-title">更多資訊</span>
                  <span class="icon-pricing-arrow-down"></span>
                </label>
                <div class="scheme-info-centent">
                  <ul class="scheme-info-centent-list">
                    <li>會員可從不同國家的網站購物，然後把所有貨物合併為單一運單，</li>
                    <li>貨物入庫後會盡快安排出庫，請耐心等候</li>
                    <li>當貨物狀態更改為「出庫」，意指該貨物已被安排送港</li>
                    <li>如遇上發貨國家或香港法定假日，到達時間將會順延</li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section class="section section--faq">
          <div class="bs-container">
            <div class="faq-title text-h5 js-content-anchor" data-title="常見問題" data-subtitle="">
              <div>
                常見問題
              </div>
              <div class="faq-title-deco"></div>
            </div>
            <div class="contact-second">
              <div class="contact-second-item">
                <i class="bs-icon-query"></i>
                <div class="text-h6">一般查詢</div>
                <div class="contact-second-item-link">
                  <a href="#">如果計算運費</a>
                </div>
                <div class="contact-second-item-link">
                  <a>我要如何輸入「送貨地址」</a>
                </div>
                <div class="contact-second-item-link">
                  <a>我找不到「貨物追蹤編號（Tracking number）」</a>
                </div>
                <div class="contact-second-item-link">
                  <a class="contact-second-item-link-arrow text-subtitle-sm">更多</a>
                </div>
              </div>
              <div class="contact-second-item">
                <i class="bs-icon-parcel"></i>
                <div class="text-h6">貨物查詢</div>
                <div class="contact-second-item-link">
                  <a href="">What is the shipment schedule</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Shipment query 2</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Shipment query 3</a>
                </div>
                <div class="contact-second-item-link">
                  <a class="contact-second-item-link-arrow text-subtitle-sm" href="">更多</a>
                </div>
              </div>
              <div class="contact-second-item">
                <i class="bs-icon-faq" data-name="truck"></i>
                <div class="text-h6">Order Enquiries</div>
                <div class="contact-second-item-link">
                  <a href="">Order query 1</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Order query 2</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Order query 3</a>
                </div>
                <div class="contact-second-item-link">
                  <a class="contact-second-item-link-arrow text-subtitle-sm" href="">更多</a>
                </div>
              </div>
              <div class="contact-second-item">
                <i class="bs-icon-lost-parcel"></i>
                <div class="text-h6">Lost or Damaged</div>
                <div class="contact-second-item-link">
                  <a href="">Lost or Damaged query 1</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Lost or Damaged query 2</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">Lost or Damaged query 3</a>
                </div>
                <div class="contact-second-item-link">
                  <a class="contact-second-item-link-arrow text-subtitle-sm" href="">更多</a>
                </div>
              </div>
              <div class="contact-second-item">
                <i class="bs-icon-plus"></i>
                <div class="text-h6">More</div>
                <div class="contact-second-item-link">
                  <a href="">Legal, privacy, and other quiries</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">More query 2</a>
                </div>
                <div class="contact-second-item-link">
                  <a href="">More query 3</a>
                </div>
                <div class="contact-second-item-link">
                  <a class="contact-second-item-link-arrow text-subtitle-sm" href="">更多</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </article>

      <bs-dialog v-model="isShowDialog">
        <div class="bs-tutorial__video">
          <iframe width="840" height="473" src="https://www.youtube.com/embed/Tj7346AVTqc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
      </bs-dialog>
    </main>

    <!-- WP:end -->

    <footer class="bs-footer" v-cloak>
      <div class="footer-graphic" v-if="isShowGraphic">
        <picture>
          <source media="(max-width: 1199px)" srcset="
              /buyandshipdemo/assets/img/footer_768px.png 1x,
              /buyandshipdemo/assets/img/footer_768px@2x.png 2x,
              /buyandshipdemo/assets/img/footer_768px@3x.png 3x
            " sizes="100vw">
          <source media="(min-width: 1200px)" srcset="
              /buyandshipdemo/assets/img/footer_1440px.png 1440w,
              /buyandshipdemo/assets/img/footer_1440px@2x.png 2880w,
              /buyandshipdemo/assets/img/footer_1440px@3x.png 4320w
            " sizes="100vw">
          <img class="footer-graphic-media" src="/buyandshipdemo/assets/img/footer_1440px.png" alt="cat is shipping">
        </picture>
      </div>
      <div class="bs-container">
        <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">購物</div>
            <div class="footer-nav-group-item">
              <a href="/blog-list">發燒話題</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/blog-list">最新消息</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">代運</div>
            <div class="footer-nav-group-item">
              <a href="/tutorial">使用教學</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/pricing">運費計算</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/advantage">我們的優勢</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-nav-group-label">關於</div>
            <div class="footer-nav-group-item">
              <a href="/about-us">關於我們</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/warehouses">海外倉庫一覽</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/contact-us">聯絡我們</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-social">
              <div class="footer-social-box">
                <a class="footer-social-box-link" href="https://www.facebook.com/buyandship.com.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-facebook"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.instagram.com/buyandship.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-instagram"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
                  <i class="bs-icon">
                    <span class="bs-icon-youtube"></span>
                  </i>
                </a>
              </div>
            </div>
            <div class="footer-location">
              <div class="footer-location-icon">
                <i class="bs-icon-environment" style="margin-left: -6px;"></i>
              </div>
              <div class="footer-location-desc">總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
            </div>
            <div class="footer-download">
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="AppStore" src="/buyandshipdemo/assets/img/AppStore_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/AppStore_200px@3x.png 3x
                  ">
              </a>
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="GooglePlay" src="/buyandshipdemo/assets/img/GooglePlay_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@3x.png 3x
                  ">
              </a>
            </div>
          </a-col>
        </a-row>
        <div class="footer-bottom">
          <div class="footer-country">
            <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <i class="bs-icon-country"></i>
              <span>台灣</span>
            </a>
          </div>
          <div class="footer-copyright">
            <span class="footer-copyright-desc"> © 2019 E-BUY Global Limited.</span>
            <a class="footer-copyright-link" href="/terms">使用條款</a>
            <a class="footer-copyright-link" href="/privacy">隱私政策</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script src="/buyandshipdemo/assets/js/common.js?02b96dc10fd0998eed5c"></script>
  <script src="/buyandshipdemo/assets/js/tutorial.js?02b96dc10fd0998eed5c"></script>
</body>

</html>