<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>privacy</title>
  <link href="/buyandshipdemo/assets/css/common.css?02b96dc10fd0998eed5c" rel="stylesheet">
  <link href="/buyandshipdemo/assets/css/privacy.css?02b96dc10fd0998eed5c" rel="stylesheet">
</head>

<body>

  <div id="app" class="layout">

    <header class="bs-header">
      <div class="header-l">
        <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
        <a class="header-logo" href="/">
          <img class="header-logo-image" alt="logo" src="/buyandshipdemo/assets/img/company_logo_dark.png" srcset="
            /buyandshipdemo/assets/img/company_logo_dark.png 1x,
            /buyandshipdemo/assets/img/company_logo_dark@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_dark@3x.png 3x
          ">
          <img class="header-logo-image-sm" alt="logo" src="/buyandshipdemo/assets/img/company_logo_box.png" srcset="
            /buyandshipdemo/assets/img/company_logo_box.png 1x,
            /buyandshipdemo/assets/img/company_logo_box@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_box@3x.png 3x
          ">
        </a>
        <nav class="header-nav">
          <div class="header-nav-item header-nav-item--more">
            <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <div class="bs-icon-country"></div>
              <span>台灣</span>
            </a>
          </div>
        </nav>
        <!-- <bs-locale-select /> -->
      </div>
      <div class="header-r">
        <nav class="header-nav">
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="/tutorial">代運使用教學</a>
          </div>
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="/pricing">運費計算</a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('shopping')">
              精選購物網站
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('faq')">
              常見問題
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
        </nav>

        <div bs-logout class="header-r-member">
          <a class="header-member" href="https://www.buyandship.com.tw/login/">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">登入</span>
          </a>
          <!-- <div class="header-member-sign-sm text-subtitle-sm" @click="signup">Sign&nbsp;up</div> -->
          <button class="bs-button header-member-sign text-subtitle-sm bs-button--primary bs-button--md" @click="$gobalFunction.redirect('https://www.buyandship.com.tw/login/')">
            註冊
          </button>
        </div>

        <div bs-login class="header-r-member">
          <a class="header-member header-member--m" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">你好，Christ Shui</span>
          </a>
          <a class="header-member header-member--pc" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">我的帳戶</span>
          </a>
          <aside class="header-account">
            <div class="header-account-overlay"></div>
            <ul class="header-account-list">
              <li class="header-account-list-item"><a href="">我的帳戶</a></li>
              <li class="header-account-list-item"><a href="">個人資料</a></li>
              <li class="header-account-list-item"><a href="">海外倉庫</a></li>
              <li class="header-account-list-item"><a href="">我的貨物</a></li>
              <li class="header-account-list-item"><a href="">我的轉運單</a></li>
              <li class="header-account-list-item"><a href="">登出</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </header>

    <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="/shopping">發燒話題</a>
      <a class="text-h4" href="/shopping">最新消息</a>
      <a class="text-h4" href="/shopping">精選購物網站</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="/faq">常見問題</a>
      <a class="text-h4" href="/warehouses">海外倉庫一覽</a>
      <a class="text-h4" href="/restrictions">禁運物品目錄</a>
      <a class="text-h4" href="/contact-us">聯絡我們</a>
      <a class="text-h4" href="/advantage">我們的優勢</a>
      <a class="text-h4" href="/insurance">貨物保價服務</a>
      <a class="text-h4" href="/terms">使用條款</a>
      <a class="text-h4" href="/privacy">隱私政策</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
      <div class="country-title text-h6">請選擇國家或地區</div>
      <a-row>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.tw/">
            <span class="icon-flag-tw"></span>
            <span class="ml">台灣</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://mo.buynship.com/">
            <span class="icon-flag-mo"></span>
            <span class="ml">澳門</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.today/">
            <span class="icon-flag-hk"></span>
            <span class="ml">香港</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.cn/">
            <span class="icon-flag-cn"></span>
            <span class="ml">中國</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.co.jp/">
            <span class="icon-flag-jp"></span>
            <span class="ml">日本</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://au.buynship.com/">
            <span class="icon-flag-au"></span>
            <span class="ml">澳洲</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.sg/">
            <span class="icon-flag-sg"></span>
            <span class="ml">新加坡</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.my/">
            <span class="icon-flag-my"></span>
            <span class="ml">馬來西亞</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.in/">
            <span class="icon-flag-in"></span>
            <span class="ml">印度</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://ae.buynship.com/">
            <span class="icon-flag-ea"></span>
            <span class="ml">阿聯酋</span>
          </a>
        </a-col>
      </a-row>

      <!-- <a href="#" style="display: inline-block"><span>Singapore</span></a>
        </li>
        <li>
          <a href="#"><span>Malaysia</span></a>
        </li>
        <li>
          <a href="#"><span>Hong Kong</span></a>
        </li>
        <li>
          <a href="#"><span>Macau</span></a>
        </li>
        <li>
          <a href="#"><span>China</span></a>
        </li>
        <li>
          <a href="#"><span>Japan</span></a>
        </li>
        <li>
          <a href="#"><span>India</span></a>           -->

    </bs-nav-panel>
    <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" v-cloak>
      <div class="mobile-nav-inner">
        <nav class="slinky-menu slinky-theme-default">
          <ul>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">我的帳戶</span></a>
            </li>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">海外倉庫</span></a>
            </li>
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">我的貨物</span></a>
            </li>
            <li bs-login>
              <a class="slinky-menu__underline" href="/tutorial"><span
                  class="text-subtitle-sm">我的轉運單</span></a>
            </li>
            <li>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">代運使用教學</span></a>
            </li>
            <li>
              <a href="/pricing"><span
                  class="text-subtitle-sm">運費計算</span></a>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">精選購物網站</span></a>
              <ul>
                <li>
                  <a href="/shopping"><span>購物</span></a>
                <li>
                <li>
                  <a href="/restrictions"><span>貨物限制</span></a>
                </li>
                <!-- <li>
                  <a href="#" class="next"><span>Led Zeppelin</span></a>
                  <ul>
                    <li>
                      <a href="#" class="next"><span>Physical Graffiti</span></a>
                      <ul>
                        <li>
                          <a href="#"><span>Houses of the Holy</span></a>
                        </li>
                        <li>
                          <a href="#"><span>In My Time of Dying</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="next slinky-menu__underline">
                <span class="text-subtitle-sm">常見問題</span>
              </a>
              <ul>
                <li>
                  <a href="/faq"><span>常見問題</span></a>
                </li>
                <li>
                  <a href="/warehouses"><span>海外倉庫一覽</span></a>
                </li>
                <li>
                  <a href="/contact-us"><span>聯絡我們</span></a>
                </li>
                <li>
                  <a href="/terms"><span>使用條款</span></a>
                </li>
                <li>
                  <a href="/privacy"><span>隱私政策</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">國家及地區</span></a>
              <ul>
                <li>
                  <a href="https://www.buyandship.com.tw/">
                    <i class="slinky-link__icon icon-flag-tw-md"></i>
                    <span class="slinky-link__desc ml">台灣</span>
                  </a>
                </li>
                <li>
                  <a href="https://mo.buynship.com/">
                    <i class="slinky-link__icon icon-flag-mo-md"></i>
                    <span class="slinky-link__desc ml">澳門</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.today/">
                    <i class="slinky-link__icon icon-flag-hk-md"></i>
                    <span class="slinky-link__desc ml">香港</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.cn/">
                    <i class="slinky-link__icon icon-flag-cn-md"></i>
                    <span class="slinky-link__desc ml">中國</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.co.jp/">
                    <i class="slinky-link__icon icon-flag-jp-md"></i>
                    <span class="slinky-link__desc ml">日本</span>
                  </a>
                </li>
                <li>
                  <a href="https://au.buynship.com/">
                    <i class="slinky-link__icon icon-flag-au-md"></i>
                    <span class="slinky-link__desc ml">澳洲</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.sg/">
                    <i class="slinky-link__icon icon-flag-sg-md"></i>
                    <span class="slinky-link__desc ml">新加坡</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.my/">
                    <i class="slinky-link__icon icon-flag-my-md"></i>
                    <span class="slinky-link__desc ml">馬來西亞</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.in/">
                    <i class="slinky-link__icon icon-flag-in-md"></i>
                    <span class="slinky-link__desc ml">印度</span>
                  </a>
                </li>
                <li>
                  <a href="https://ae.buynship.com/">
                    <i class="slinky-link__icon icon-flag-ea-md"></i>
                    <span class="slinky-link__desc ml">阿聯酋</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li>
              <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
              <ul>
                <li>
                  <a href="#"><span>English</span></a>
                </li>
                <li>
                  <a href="#"><span>繁體中文</span></a>
                </li>
                <li>
                  <a href="#"><span>簡体中文</span></a>
                </li>
              </ul>
            </li> -->
            <li bs-login>
              <a href="/tutorial"><span
                  class="text-subtitle-sm">登出</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-spacer">
        <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
      </div>
    </aside>

    <transition name="opacity" v-cloak>
      <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
    </transition>

    <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password>


    <!-- WP:start -->
    <default-header-sticky v-cloak>
      <span>隱私政策</span>
      <span v-show="currentTitle">&nbsp;>&nbsp;</span>
      <span class="pointer" v-show="currentTitle" @click="scrollToTitle">{{ currentTitle }}</span>
    </default-header-sticky>

    <main class="main">
      <div class="bs-banner">
        <div class="bs-container">
          <div class="bs-banner-title">
            了解使用 Buyandship 國際網購代運的條款及細則
          </div>
        </div>
      </div>
      <article class="bs-container bs-container--paddingV">
        <section class="page-section js-content-anchor" data-title="">
          <div class="text-h6 mb">隱私政策</div>
          <p class="text-body-lg">Buyandship 國際網購代運重視個人隱私，並以高透明度的處理方式致力在隱私保護上領先。本隱私政策聲明 Buyandship 國際網購代運可能對使用者進行個人資料的收集、保護與管理之使用方法，請務必在使用服務前謹慎閱讀。</p>
        </section>
        <section class="page-section js-content-anchor" data-title="What information do we collect?">
          <div class="text-subtitle-lg mb">1. 我們所收集的資訊</div>
          <p class="text-body-sm">在你登記、下單、訂閱最新資訊、填寫問卷及表格時， Buyandship 國際網購代運都會收集你的個人資料，當中包括姓名、電郵、通訊地址或手機號碼，但你亦可選擇以匿名方式瀏覽 Buyandship 國際網購代運網站。作為我們的第三方廣告供應商，Google 將使用 Cookies 在您所瀏覽的網站上投放廣告。 Google 所使用的 DART Cookie 允許根據您訪問我們的網站和互聯網上的其他網站記錄而向您投放廣告。若您不同意可以訪問「Google Ad and Content Network Privacy Policy」，並選擇不使用 DART Cookie。 </p>
        </section>
        <section class="page-section js-content-anchor" data-title="What do we use your information for?">
          <div class="text-subtitle-lg mb">2. 我們如何使用所收集的資訊?</div>
          <div class="text-body-sm">
            <p>我們向您收集的任何資訊均可被用於以下任何一項用途：</p>
            <ul>
              <li>個性化您的瀏覽體驗（您的資訊有助於我們更好地滿足您的個人需求）</li>
              <li>改善我們的網站（當您要求我們提供客戶服務支援時，您的資訊有助於我們更有效地回應並處理您的要求）</li>
              <li>處理交易（未經您的同意，您的資訊，無論是公共還是私人資訊，皆不會由於任何原因而被出售，交換，轉讓或提供予任何其他公司，除非是為了交付您所購買的產品或服務等明確目的）</li>
              <li>協助我們管理競賽、促銷活動、調查或其他網站功能</li>
              <li>定期發送電子郵件（您提供的用於訂單處理的電子郵件地址，僅用於向您發送與您的訂單相關的信息和重大服務更新；我們只會在您同意並允許的情況下向您發送推廣訊息）</li>
            </ul>
          </div>
        </section>
        <section class="page-section js-content-anchor" data-title="How do we protect your information?">
          <div class="text-subtitle-lg mb">3. 我們如何保護您的資訊?</div>
          <p class="text-body-sm">我們實施各種安全措施以便在您提交訂單或，輸入、提供及訪問您的個人資訊時維護您的信息安全。我們使用安全的服務器，意即所有由您提供的敏感及信用卡信息皆通過安全通訊協定(SSL) 技術傳輸，然後加密至我們的第三方支付供應商數據庫中。只有獲得此類系統之特殊訪問權限的人才能接觸該等信息，並且需要對信息保密。完成交易後，您的私人信息，包括信用卡、社會安全號碼、財務資訊等不會被儲存於我們的服務器上。</p>
        </section>
        <section class="page-section js-content-anchor" data-title="Do we use cookies?">
          <div class="text-subtitle-lg mb">4. 我們使用 Cookies 嗎？</div>
          <p class="text-body-sm">是（Cookie 是網站或其服務提供商通過您的 Web 瀏覽器（如果允許）傳輸到您的電腦硬盤驅動器的小文件，旨在使網站或服務提供商系統能夠識別您的瀏覽器以抓取並記錄某些信息）。我們使用 Cookie 來幫助我們記錄和處理訂單、了解並保存您對訪問本網站的偏好以及彙總有關網站流量和網站互動的匯總數據，以便我們在將來提供更好的網站體驗和功能。</p>
        </section>
        <section class="page-section js-content-anchor" data-title="Do we disclose any information to outside parties?">
          <div class="text-subtitle-lg mb">5. 我們會向第三方透露您的資訊嗎？</div>
          <p class="text-body-sm">在你登記、下單、訂閱最新資訊、填寫問卷及表格時， Buyandship 國際網購代運都會收集你的個人資料，當中包括姓名、電郵、通訊地址或手機號碼，但你亦可選擇以匿名方式瀏覽 Buyandship 國際網購代運網站。作為我們的第三方廣告供應商，Google 將使用 Cookies 在您所瀏覽的網站上投放廣告。 Google 所使用的 DART Cookie 允許根據您訪問我們的網站和互聯網上的其他網站記錄而向您投放廣告。若您不同意可以訪問「Google Ad and Content Network Privacy Policy」，並選擇不使用 DART Cookie。</p>
        </section>
        <section class="page-section js-content-anchor" data-title="Your Consent">
          <div class="text-subtitle-lg mb">6. 你的同意</div>
          <p class="text-body-sm">使用我們的網站即表示您同意並了解我們的網站私隱政策。</p>
        </section>
        <section class="page-section js-content-anchor" data-title="Changes to our Privacy Policy">
          <div class="text-subtitle-lg mb">7. 私隱政策變更及修改</div>
          <p class="text-body-sm">如果我們決定變更或修改私隱政策，我們將會在此頁面上發布。惟我們沒有義務在變更或修改私隱政策時向您發出通知。</p>
        </section>
      </article>
    </main>
    <!-- WP:end -->

    <footer class="bs-footer" v-cloak>
      <div class="footer-graphic" v-if="isShowGraphic">
        <picture>
          <source media="(max-width: 1199px)" srcset="
              /buyandshipdemo/assets/img/footer_768px.png 1x,
              /buyandshipdemo/assets/img/footer_768px@2x.png 2x,
              /buyandshipdemo/assets/img/footer_768px@3x.png 3x
            " sizes="100vw">
          <source media="(min-width: 1200px)" srcset="
              /buyandshipdemo/assets/img/footer_1440px.png 1440w,
              /buyandshipdemo/assets/img/footer_1440px@2x.png 2880w,
              /buyandshipdemo/assets/img/footer_1440px@3x.png 4320w
            " sizes="100vw">
          <img class="footer-graphic-media" src="/buyandshipdemo/assets/img/footer_1440px.png" alt="cat is shipping">
        </picture>
      </div>
      <div class="bs-container">
        <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">購物</div>
            <div class="footer-nav-group-item">
              <a href="/blog-list">發燒話題</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/blog-list">最新消息</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">代運</div>
            <div class="footer-nav-group-item">
              <a href="/tutorial">使用教學</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/pricing">運費計算</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/advantage">我們的優勢</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-nav-group-label">關於</div>
            <div class="footer-nav-group-item">
              <a href="/about-us">關於我們</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/warehouses">海外倉庫一覽</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="/contact-us">聯絡我們</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-social">
              <div class="footer-social-box">
                <a class="footer-social-box-link" href="https://www.facebook.com/buyandship.com.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-facebook"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.instagram.com/buyandship.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-instagram"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
                  <i class="bs-icon">
                    <span class="bs-icon-youtube"></span>
                  </i>
                </a>
              </div>
            </div>
            <div class="footer-location">
              <div class="footer-location-icon">
                <i class="bs-icon-environment" style="margin-left: -6px;"></i>
              </div>
              <div class="footer-location-desc">總公司：新界葵芳葵豐街2-16號鍾意恆勝中心7樓706室</div>
            </div>
            <div class="footer-download">
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="AppStore" src="/buyandshipdemo/assets/img/AppStore_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/AppStore_200px@3x.png 3x
                  ">
              </a>
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="GooglePlay" src="/buyandshipdemo/assets/img/GooglePlay_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@3x.png 3x
                  ">
              </a>
            </div>
          </a-col>
        </a-row>
        <div class="footer-bottom">
          <div class="footer-country">
            <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <i class="bs-icon-country"></i>
              <span>台灣</span>
            </a>
          </div>
          <div class="footer-copyright">
            <span class="footer-copyright-desc"> © 2019 E-BUY Global Limited.</span>
            <a class="footer-copyright-link" href="/terms">使用條款</a>
            <a class="footer-copyright-link" href="/privacy">隱私政策</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script src="/buyandshipdemo/assets/js/common.js?02b96dc10fd0998eed5c"></script>
  <script src="/buyandshipdemo/assets/js/privacy.js?02b96dc10fd0998eed5c"></script>
</body>

</html>