.bs-icon-query,
.bs-icon-faq[data-name="FAQ"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2020%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2057.1%20(83088)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3EMask%403x%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.5499%2C10.3215%20C8.7399%2C10.1315%209.0799%2C10.1415%209.2599%2C10.3215%20C9.3499%2C10.4115%209.4099%2C10.5415%209.4099%2C10.6805%20C9.4099%2C10.7415%209.3899%2C10.8115%209.3699%2C10.8715%20C9.3399%2C10.9305%209.3099%2C10.9815%209.2599%2C11.0315%20C9.1699%2C11.1215%209.0399%2C11.1805%208.9099%2C11.1805%20C8.8399%2C11.1805%208.7799%2C11.1615%208.7199%2C11.1415%20C8.6599%2C11.1115%208.5999%2C11.0815%208.5499%2C11.0315%20C8.5099%2C10.9815%208.4699%2C10.9305%208.4499%2C10.8715%20C8.4199%2C10.8115%208.4099%2C10.7415%208.4099%2C10.6805%20C8.4099%2C10.5415%208.4599%2C10.4115%208.5499%2C10.3215%20Z%20M8.9366%2C4.7464%20C9.8466%2C4.7464%2010.6166%2C5.4614%2010.6186018%2C6.3064%20C10.6196%2C7.0554%2010.1936%2C7.5134%209.8516%2C7.8824%20C9.5266%2C8.2324%209.3426%2C8.4474%209.3426%2C8.7994%20C9.3426%2C9.0764%209.1196%2C9.2994%208.8426%2C9.2994%20C8.5666%2C9.2994%208.3426%2C9.0764%208.3426%2C8.7994%20C8.3426%2C8.0374%208.7726%2C7.5744%209.1186%2C7.2014%20C9.4376%2C6.8574%209.6196%2C6.6464%209.6186%2C6.3084%20C9.6176%2C6.0484%209.3196%2C5.7464%208.9366%2C5.7464%20C8.3346%2C5.7464%208.2146%2C6.2044%208.1916%2C6.3454%20C8.1496%2C6.6154%207.9036%2C6.8064%207.6256%2C6.7644%20C7.3546%2C6.7244%207.1656%2C6.4784%207.2016%2C6.2074%20C7.2686%2C5.7024%207.7166%2C4.7464%208.9366%2C4.7464%20Z%20M16.815%2C5.613%20L16.815%2C10.642%20C16.815%2C12.14%2015.596%2C13.359%2014.098%2C13.359%20L6.187%2C13.359%20C6.064%2C13.359%205.945%2C13.404%205.854%2C13.486%20L4.129%2C15.024%20L4.215%2C13.897%20C4.226%2C13.758%204.178%2C13.621%204.084%2C13.519%20C3.989%2C13.416%203.856%2C13.359%203.717%2C13.359%20C2.219%2C13.359%201%2C12.14%201%2C10.642%20L1%2C5.613%20C1%2C4.115%202.219%2C2.897%203.717%2C2.897%20L14.098%2C2.897%20C15.596%2C2.897%2016.815%2C4.115%2016.815%2C5.613%20M16.4%2C0%20L9.346%2C0%20C8.03%2C0%206.85%2C0.74%206.257%2C1.897%20L3.717%2C1.897%20C1.668%2C1.897%200%2C3.564%200%2C5.613%20L0%2C10.642%20C0%2C12.509%201.384%2C14.059%203.18%2C14.32%20L3.037%2C16.185%20C3.022%2C16.388%203.131%2C16.58%203.314%2C16.671%20C3.384%2C16.706%203.46%2C16.723%203.536%2C16.723%20C3.656%2C16.723%203.775%2C16.68%203.869%2C16.596%20L6.377%2C14.359%20L14.098%2C14.359%20C16.148%2C14.359%2017.815%2C12.692%2017.815%2C10.642%20L17.815%2C5.613%20C17.815%2C3.564%2016.148%2C1.897%2014.098%2C1.897%20L7.437%2C1.897%20C7.9%2C1.338%208.593%2C1%209.346%2C1%20L16.4%2C1%20C17.767%2C1%2018.879%2C2.113%2018.879%2C3.48%20L18.879%2C7.423%20C18.879%2C7.903%2018.743%2C8.367%2018.485%2C8.766%20C18.417%2C8.871%2018.341%2C8.971%2018.258%2C9.065%20C18.075%2C9.272%2018.094%2C9.587%2018.3%2C9.771%20C18.396%2C9.856%2018.514%2C9.897%2018.632%2C9.897%20C18.77%2C9.897%2018.908%2C9.84%2019.006%2C9.729%20C19.123%2C9.598%2019.229%2C9.457%2019.325%2C9.309%20C19.688%2C8.748%2019.879%2C8.095%2019.879%2C7.423%20L19.879%2C3.48%20C19.879%2C1.561%2018.319%2C0%2016.4%2C0%22%20id%3D%22Mask%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-parcel,
.bs-icon-faq[data-name="Announcements"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3Eicon%2F24px%2Fbottom_shipment%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%221px-icon%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Fbottom_shipment%22%20transform%3D%22translate(-2.000000%2C%20-2.000000)%22%20fill%3D%22%23020303%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M21%2C15.1473242%20L12%2C20.7687859%20L11.76%2C20.9204246%20L11%2C20.4221832%20L3%2C15.1039989%20L3%2C7.67370464%20L11%2C11.8545991%20L11%2C18.03929%20C11%2C18.3425674%2011.22%2C18.5808567%2011.5%2C18.5808567%20C11.78%2C18.5808567%2012%2C18.3425674%2012%2C18.03929%20L12%2C11.8870931%20L21%2C7.28377666%20L21%2C15.1473242%20Z%20M7.66%2C4.99836546%20L13.8040698%2C8.11177958%20C13.8740698%2C8.15510491%2013.9540698%2C8.16593625%2014.0340698%2C8.16593625%20C14.2140698%2C8.16593625%2014.3940698%2C8.06845425%2014.4840698%2C7.87349026%20C14.6040698%2C7.61353828%2014.5140698%2C7.2885983%2014.2640698%2C7.14779097%20L8.81%2C4.42430482%20L11.38%2C3.1570389%20L20.29%2C6.46059538%20L11.53%2C10.9339358%20L3.81%2C6.90468002%20L7.66%2C4.99836546%20Z%20M11.771%2C2.06415743%20L21.341%2C5.82262988%20C21.736%2C5.97751794%2022%2C6.38477605%2022%2C6.84077515%20L22%2C15.1386591%20C22%2C15.5264209%2021.809%2C15.8838548%2021.5%2C16.0766526%20L12.246%2C21.8551686%20C11.928%2C22.053382%2011.536%2C22.0479663%2011.223%2C21.8400047%20L2.477%2C16.0268284%20C2.181%2C15.8307813%202%2C15.4809293%202%2C15.1039989%20L2%2C7.37584299%20C2%2C6.95667041%202.224%2C6.57432437%202.575%2C6.39560738%20L11.004%2C2.10315022%20C11.245%2C1.98075616%2011.521%2C1.96667543%2011.771%2C2.06415743%20Z%20M6.30045936%2C6.5322814%20C6.06670505%2C6.66311232%205.97758718%2C6.95492171%206.09836431%2C7.19402565%20L6.11705241%2C7.2310227%20C6.12024077%2C7.23733473%206.12356296%2C7.24357827%206.12701672%2C7.24974908%20C6.261602%2C7.49021126%206.56563803%2C7.57604145%206.80610021%2C7.44145618%20L7.69954064%2C6.94140281%20C7.93329495%2C6.81057189%208.02241282%2C6.5187625%207.90163569%2C6.27965856%20L7.88294759%2C6.24266151%20C7.87975923%2C6.23634948%207.87643704%2C6.23010594%207.87298328%2C6.22393513%20C7.738398%2C5.98347295%207.43436197%2C5.89764276%207.19389979%2C6.03222803%20L6.30045936%2C6.5322814%20Z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-truck,
.bs-icon-faq[data-name="truck"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2017%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.689%2012.721a.5.5%200%2001-.5-.5V.501a.5.5%200%2001.5-.5h11.488c.277%200%20.5.222.5.5v11.72a.5.5%200%2001-.5.5H.689zm.5-1h10.488V1.001H1.189v10.72zm18.703-5.195c.06.084.092.186.092.289v6.989a.5.5%200%2001-.5.5h-.847v.019a2.14%202.14%200%2001-2.134%202.14%202.139%202.139%200%2001-2.133-2.14v-.02h-2.858v.02a2.14%202.14%200%2001-2.134%202.14%202.14%202.14%200%2001-2.134-2.14v-.02l-.534.025a2.138%202.138%200%2001-2.134%202.135%202.14%202.14%200%2001-2.134-2.14v-.02H.5a.5.5%200%20110-1h2.442a.5.5%200%2001.5.5v.52c0%20.628.51%201.14%201.134%201.14.626%200%201.134-.512%201.134-1.14l.006-.524a.5.5%200%2001.5-.495h1.528a.5.5%200%2001.5.5v.519c0%20.628.51%201.14%201.134%201.14.625%200%201.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5h3.858a.5.5%200%2001.5.5v.52c0%20.628.508%201.14%201.133%201.14s1.134-.512%201.134-1.14v-.52a.5.5%200%2001.5-.5c.02%200%20.035.01.054.012.018-.002.035-.011.054-.011h.74v-6.33l-2.05-2.893H14.28l-.057%208.144a.5.5%200%2001-.5.496h-.004a.5.5%200%2001-.496-.504l.061-8.64a.5.5%200%2001.5-.496h3.411c.162%200%20.314.079.408.21l2.29%203.235zM7.556%204.576a.5.5%200%2001.796.605L6.096%208.146a.568.568%200%2001-.398.197.5.5%200%2001-.393-.191l-.785-.998a.5.5%200%2001.786-.619l.386.49%201.864-2.45z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-lost-parcel,
.bs-icon-faq[data-name="lost-parcel"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2220px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2020%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3ECombined%20Shape%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2FLost-Parcel%22%20transform%3D%22translate(-2.000000%2C%20-3.000000)%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M20.5915%2C19.2869%20L20.5915%2C9.7449%20L3.4575%2C9.7449%20L3.4575%2C19.2869%20C3.4575%2C19.4319%203.5745%2C19.5489%203.7195%2C19.5489%20L20.3305%2C19.5489%20C20.4745%2C19.5489%2020.5915%2C19.4319%2020.5915%2C19.2869%20Z%20M5.3585%2C4.5019%20L3.6915%2C8.7449%20L20.2655%2C8.7449%20L18.0435%2C4.5019%20L5.3585%2C4.5019%20Z%20M21.5385%2C9.0299%20C21.5705%2C9.0959%2021.5915%2C9.1669%2021.5915%2C9.2449%20L21.5915%2C19.2869%20C21.5915%2C19.9819%2021.0265%2C20.5489%2020.3305%2C20.5489%20L3.7195%2C20.5489%20C3.0245%2C20.5489%202.4575%2C19.9819%202.4575%2C19.2869%20L2.4575%2C9.2449%20C2.4575%2C9.1929%202.4725%2C9.1449%202.4875%2C9.0989%20C2.4905%2C9.0869%202.4875%2C9.0739%202.4915%2C9.0619%20L4.5515%2C3.8189%20C4.6265%2C3.6279%204.8115%2C3.5019%205.0175%2C3.5019%20L18.3465%2C3.5019%20C18.5315%2C3.5019%2018.7025%2C3.6049%2018.7895%2C3.7699%20L21.5345%2C9.0139%20C21.5375%2C9.0179%2021.5355%2C9.0249%2021.5385%2C9.0299%20Z%20M10.531%2C13.2419%20C10.263%2C13.1829%2010.093%2C12.9209%2010.149%2C12.6519%20C10.271%2C12.0779%2010.842%2C10.9929%2012.131%2C10.9929%20C13.558%2C10.9929%2014.2000018%2C12.0239%2014.2000018%2C12.7559%20C14.201%2C13.5659%2013.778%2C14.0989%2013.405%2C14.5699%20C13.04%2C15.0309%2012.818%2C15.3369%2012.848%2C15.7839%20C12.867%2C16.0599%2012.659%2C16.2989%2012.384%2C16.3169%20C12.372%2C16.3179%2012.36%2C16.3179%2012.348%2C16.3179%20C12.088%2C16.3179%2011.868%2C16.1159%2011.85%2C15.8519%20C11.793%2C14.9959%2012.233%2C14.4389%2012.622%2C13.9489%20C12.932%2C13.5569%2013.2%2C13.2189%2013.2%2C12.7559%20C13.2%2C12.7479%2013.154%2C11.9929%2012.131%2C11.9929%20C11.348%2C11.9929%2011.147%2C12.7739%2011.127%2C12.8629%20C11.065%2C13.1309%2010.802%2C13.3019%2010.531%2C13.2419%20Z%20M12.3591%2C17.4617%20C12.6351%2C17.4617%2012.8591%2C17.6857%2012.8591%2C17.9617%20C12.8591%2C18.2377%2012.6351%2C18.4617%2012.3591%2C18.4617%20C12.0831%2C18.4617%2011.8541%2C18.2377%2011.8541%2C17.9617%20C11.8541%2C17.6857%2012.0731%2C17.4617%2012.3491%2C17.4617%20L12.3591%2C17.4617%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-icon-plus,
.bs-icon-faq[data-name="plus"] {
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20%20fill%3D%22%237B7B7B%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2055.2%20(78181)%20-%20https%3A%2F%2Fsketchapp.com%20--%3E%0A%20%20%20%20%3Ctitle%3EFill%201%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon%2F24px%2Ffaq%2FMore%22%20transform%3D%22translate(-4.000000%2C%20-4.000000)%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.511%2C11.505%20L12.506%2C11.505%20L12.506%2C4.5%20C12.506%2C4.224%2012.282%2C4%2012.006%2C4%20C11.73%2C4%2011.506%2C4.224%2011.506%2C4.5%20L11.506%2C11.505%20L4.5%2C11.505%20C4.224%2C11.505%204%2C11.729%204%2C12.005%20C4%2C12.281%204.224%2C12.505%204.5%2C12.505%20L11.506%2C12.505%20L11.506%2C19.51%20C11.506%2C19.786%2011.73%2C20.01%2012.006%2C20.01%20C12.282%2C20.01%2012.506%2C19.786%2012.506%2C19.51%20L12.506%2C12.505%20L19.511%2C12.505%20C19.787%2C12.505%2020.011%2C12.281%2020.011%2C12.005%20C20.011%2C11.729%2019.787%2C11.505%2019.511%2C11.505%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.bs-banner {
  width: 100%;
  height: 216px;
  position: relative;
  background: #FBFBFB;
  background-image: url(/buyandshipdemo/assets/img/banner/faq_m@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right top;
}
@media (min-width: 768px) {
  .bs-banner {
    height: 300px;
    background-image: url(/buyandshipdemo/assets/img/banner/faq@2x.png);
    background-position: right top;
  }
}
@media (min-width: 1200px) {
  .bs-banner {
    height: 385px;
    background-image: url(/buyandshipdemo/assets/img/banner/faq@3x.png);
  }
}
.bs-banner-title {
  text-align: center;
  position: relative;
  top: 32px;
  line-height: 24px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .bs-banner-title {
    font-size: 34px;
    font-weight: normal;
    top: 60px;
  }
}
@media (min-width: 1200px) {
  .bs-banner-title {
    text-align: center;
    top: 84px;
  }
}
.section--articles {
  margin-bottom: 64px;
}
@media (min-width: 1200px) {
  .section--articles {
    margin-bottom: 88px;
  }
}
@media (min-width: 1200px) {
  .section--recent .main-title {
    margin-bottom: 88px;
  }
}
.main-title {
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .main-title {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .contact-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }
  .contact-second .contact-second-item {
    width: 33.33%;
    border-color: transparent;
    border-width: 0 12px;
    border-style: solid;
  }
}
.contact-second a,
.contact-fifth a {
  color: rgba(0, 0, 0, 0.65);
}
.contact-second a:hover,
.contact-fifth a:hover {
  color: #FB9219;
}
@media (min-width: 1200px) {
  .contact-second-item {
    margin-top: 88px;
    border-color: transparent;
    border-width: 0 12px;
    border-style: solid;
  }
}
.contact-second-item + .contact-second-item {
  margin-top: 44px;
}
@media (min-width: 1200px) {
  .contact-second-item + .contact-second-item {
    margin-top: 88px;
  }
}
.contact-second-item-link {
  margin-top: 12px;
}
.contact-second-item-link-arrow {
  color: #262626;
  position: relative;
  display: inline;
}
.contact-second-item-link-arrow:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 46%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20%20fill%3D%22%23FF9E1B%22%20viewBox%3D%220%200%2013%2020%22%20width%3D%2213%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.112%2020c.244%200%20.49-.083.697-.25l10.777-8.886A1.15%201.15%200%200013%209.976c0-.345-.152-.673-.414-.887L1.855.25A1.094%201.094%200%2000.293.425a1.159%201.159%200%2000.17%201.6l9.653%207.95-9.701%208a1.158%201.158%200%2000-.17%201.6c.22.279.54.425.867.425z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 100% 100%;
  width: 12px;
  height: 12px;
}
/*
*   overwite zendesk
*/
.contact-second-item .contact-second-item-link--article:nth-of-type(n+5) {
  display: none;
}
.breadcrumbs li a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}
.breadcrumbs li a:visited {
  color: #FF9E1B;
}
.article-sidebar {
  display: none;
}
@media (min-width: 1200px) {
  .article-sidebar {
    display: block;
  }
}
body {
  -webkit-font-smoothing: unset;
}
.header {
  max-width: unset;
  margin: 0;
  padding: unset;
  position: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.footer {
  border-top: unset;
  margin-top: unset;
  padding: unset;
}
.footer .footer-copyright-link,
.footer .footer-country-link {
  color: #FFFFFF;
}
.footer .footer-copyright-link:hover,
.footer .footer-country-link:hover {
  color: #FF9E1B;
}
.recent-activity-header {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .recent-activity-header {
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 88px;
  }
}
.bs-container .search {
  top: 96px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .bs-container .search {
    top: 205px;
    max-width: 608px;
  }
}
.bs-container #query {
  height: 48px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
@media (min-width: 1200px) {
  .bs-container #query {
    height: 56px;
  }
}
.article-title {
  font-size: 32px;
}
.article-relatives a {
  color: rgba(0, 0, 0, 0.65);
}
.article-relatives a:hover {
  color: #FF9E1B;
}

