<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insurance</title>
  <link href="/buyandshipdemo/assets/css/common.css?24be74b3f89b346768d0" rel="stylesheet">
  <link href="/buyandshipdemo/assets/css/insurance.css?24be74b3f89b346768d0" rel="stylesheet">
</head>

<body>

  <div id="app" class="layout">

    <header class="bs-header">
      <div class="header-l">
        <i class="header-bars bs-icon">
      <div class="bs-icon-hamburger" @click="toggleMobileNav" v-show="!visible.mobileNav"></div>
      <div class="bs-icon-close" @click="toggleMobileNav" v-show="visible.mobileNav" style="display: none;"></div>
    </i>
        <a class="header-logo" href="https://www.buyandship.com.tw/">
          <img class="header-logo-image" alt="logo" src="/buyandshipdemo/assets/img/company_logo_dark.png" srcset="
            /buyandshipdemo/assets/img/company_logo_dark.png 1x,
            /buyandshipdemo/assets/img/company_logo_dark@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_dark@3x.png 3x
          ">
          <img class="header-logo-image-sm" alt="logo" src="/buyandshipdemo/assets/img/company_logo_box.png" srcset="
            /buyandshipdemo/assets/img/company_logo_box.png 1x,
            /buyandshipdemo/assets/img/company_logo_box@2x.png 2x,
            /buyandshipdemo/assets/img/company_logo_box@3x.png 3x
          ">
        </a>
        <nav class="header-nav">
          <div class="header-nav-item header-nav-item--more">
            <a class="header-country" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <div class="bs-icon-country"></div>
              <span>Singapore</span>
            </a>
          </div>
        </nav>
        <!-- <bs-locale-select /> -->
      </div>
      <div class="header-r">
        <nav class="header-nav">
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="https://www.buyandship.com.tw/tutorial">Tutorial</a>
          </div>
          <div class="header-nav-item">
            <a class="header-nav-item-link" href="https://www.buyandship.com.tw/pricing">Pricing</a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('shopping')">
              Shopping Tips
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
          <div class="header-nav-item header-nav-item--more">
            <a href="javascript:;" @click.prevent="toggleNavPanel('faq')">
              FAQ
              <i class="bs-icon-arrow-down"></i>
            </a>
          </div>
        </nav>

        <div bs-logout class="header-r-member">
          <a class="header-member" href="https://www.buyandship.com.tw/login/">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">Log&nbsp;in</span>
          </a>
          <!-- <div class="header-member-sign-sm text-subtitle-sm" @click="signup">Sign&nbsp;up</div> -->
          <button class="bs-button header-member-sign text-subtitle-sm bs-button--primary bs-button--md" @click="$gobalFunction.redirect('https://www.buyandship.com.tw/login/')">
            SIGN&nbsp;UP
          </button>
        </div>

        <div bs-login class="header-r-member">
          <a class="header-member header-member--m" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">Hi, Christ Shui</span>
          </a>
          <a class="header-member header-member--pc" href="https://www.buyandship.com.tw/account">
            <i class="header-member-icon bs-icon-user"></i>
            <span class="header-member-icon-desc text-subtitle-sm">My Account</span>
          </a>
          <aside class="header-account">
            <div class="header-account-overlay"></div>
            <ul class="header-account-list">
              <li class="header-account-list-item"><a href="">My Account</a></li>
              <li class="header-account-list-item"><a href="">My Profile</a></li>
              <li class="header-account-list-item"><a href="">Overseas Warehouses</a></li>
              <li class="header-account-list-item"><a href="">My Shipments</a></li>
              <li class="header-account-list-item"><a href="">My Orders</a></li>
              <li class="header-account-list-item"><a href="">Log out</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </header>

    <bs-nav-panel v-model="isShowNav.shopping" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="https://www.buyandship.com.tw/shopping">Discounts</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/shopping">Latest news</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/shopping">Features Shopping Site</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.faq" @on-hide="currentNav = ''" v-cloak>
      <a class="text-h4" href="https://www.buyandship.com.tw/faq">FAQ</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/warehouses">Our Warehouses</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/restrictions">Prohebit Items</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/contact-us">Contact Us</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/advantage">Advantage</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/insurance">Insurance</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/terms">Terms</a>
      <a class="text-h4" href="https://www.buyandship.com.tw/privacy">Privacy and Policy</a>
    </bs-nav-panel>
    <bs-nav-panel v-model="isShowNav.country" @on-hide="currentNav = ''" v-cloak>
      <div class="country-title text-h6">Select country</div>
      <a-row>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.tw/">
            <span class="icon-flag-tw"></span>
            <span class="ml">Taiwan</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://mo.buynship.com/">
            <span class="icon-flag-mo"></span>
            <span class="ml">Macau</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.today/">
            <span class="icon-flag-hk"></span>
            <span class="ml">Hong Kong</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.cn/">
            <span class="icon-flag-cn"></span>
            <span class="ml">China</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.co.jp/">
            <span class="icon-flag-jp"></span>
            <span class="ml">Japan</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://au.buynship.com/">
            <span class="icon-flag-au"></span>
            <span class="ml">Australia</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.sg/">
            <span class="icon-flag-sg"></span>
            <span class="ml">Singapore</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.com.my/">
            <span class="icon-flag-my"></span>
            <span class="ml">Malaysia</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://www.buyandship.in/">
            <span class="icon-flag-in"></span>
            <span class="ml">India</span>
          </a>
        </a-col>
        <a-col class="country-card" :xs="12" :md="12" :xl="12">
          <a class="country-item text-subtitle-sm" href="https://ae.buynship.com/">
            <span class="icon-flag-ea"></span>
            <span class="ml">UAE</span>
          </a>
        </a-col>
      </a-row>

      <!-- <a href="#" style="display: inline-block"><span>Singapore</span></a>
        </li>
        <li>
          <a href="#"><span>Malaysia</span></a>
        </li>
        <li>
          <a href="#"><span>Hong Kong</span></a>
        </li>
        <li>
          <a href="#"><span>Macau</span></a>
        </li>
        <li>
          <a href="#"><span>China</span></a>
        </li>
        <li>
          <a href="#"><span>Japan</span></a>
        </li>
        <li>
          <a href="#"><span>India</span></a>           -->

    </bs-nav-panel>
    <aside class="mobile-nav" :class="{ 'mobile-nav-open': visible.mobileNav }" v-cloak>
      <div class="mobile-nav-inner">
        <nav class="slinky-menu slinky-theme-default">
          <ul>
            <li bs-login>
              <a href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">My Account</span></a>
            </li>
            <li bs-login>
              <a href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">Overseas Warehouses</span></a>
            </li>
            <li bs-login>
              <a href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">My Shipments</span></a>
            </li>
            <li bs-login>
              <a class="slinky-menu__underline" href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">My Orders</span></a>
            </li>
            <li>
              <a href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">Tutorial</span></a>
            </li>
            <li>
              <a href="https://www.buyandship.com.tw/pricing"><span
                  class="text-subtitle-sm">Pricing</span></a>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">Shopping Tips</span></a>
              <ul>
                <li>
                  <a href="https://www.buyandship.com.tw/shopping"><span>Shopping</span></a>
                <li>
                <li>
                  <a href="https://www.buyandship.com.tw/restrictions"><span>Restrictions</span></a>
                </li>
                <!-- <li>
                  <a href="#" class="next"><span>Led Zeppelin</span></a>
                  <ul>
                    <li>
                      <a href="#" class="next"><span>Physical Graffiti</span></a>
                      <ul>
                        <li>
                          <a href="#"><span>Houses of the Holy</span></a>
                        </li>
                        <li>
                          <a href="#"><span>In My Time of Dying</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li>
              <a href="#" class="next slinky-menu__underline">
                <span class="text-subtitle-sm">FAQ</span>
              </a>
              <ul>
                <li>
                  <a href="https://www.buyandship.com.tw/faq"><span>FAQ</span></a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.tw/warehouses"><span>Our Warehouses</span></a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.tw/contact-us"><span>Contact Us</span></a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.tw/terms"><span>Terms</span></a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.tw/privacy"><span>Privacy and Policy</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="next"><span class="text-subtitle-sm">Country & Region</span></a>
              <ul>
                <li>
                  <a href="https://www.buyandship.com.tw/">
                    <i class="slinky-link__icon icon-flag-tw-md"></i>
                    <span class="slinky-link__desc ml">Taiwan</span>
                  </a>
                </li>
                <li>
                  <a href="https://mo.buynship.com/">
                    <i class="slinky-link__icon icon-flag-mo-md"></i>
                    <span class="slinky-link__desc ml">Macau</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.today/">
                    <i class="slinky-link__icon icon-flag-hk-md"></i>
                    <span class="slinky-link__desc ml">Hong Kong</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.cn/">
                    <i class="slinky-link__icon icon-flag-cn-md"></i>
                    <span class="slinky-link__desc ml">China</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.co.jp/">
                    <i class="slinky-link__icon icon-flag-jp-md"></i>
                    <span class="slinky-link__desc ml">Japan</span>
                  </a>
                </li>
                <li>
                  <a href="https://au.buynship.com/">
                    <i class="slinky-link__icon icon-flag-au-md"></i>
                    <span class="slinky-link__desc ml">Australia</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.sg/">
                    <i class="slinky-link__icon icon-flag-sg-md"></i>
                    <span class="slinky-link__desc ml">Singapore</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.com.my/">
                    <i class="slinky-link__icon icon-flag-my-md"></i>
                    <span class="slinky-link__desc ml">Malaysia</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.buyandship.in/">
                    <i class="slinky-link__icon icon-flag-in-md"></i>
                    <span class="slinky-link__desc ml">India</span>
                  </a>
                </li>
                <li>
                  <a href="https://ae.buynship.com/">
                    <i class="slinky-link__icon icon-flag-ea-md"></i>
                    <span class="slinky-link__desc ml">UAE</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li>
              <a href="#" class="next"><span class="text-subtitle-sm">Language</span></a>
              <ul>
                <li>
                  <a href="#"><span>English</span></a>
                </li>
                <li>
                  <a href="#"><span>繁體中文</span></a>
                </li>
                <li>
                  <a href="#"><span>簡体中文</span></a>
                </li>
              </ul>
            </li> -->
            <li bs-login>
              <a href="https://www.buyandship.com.tw/tutorial"><span
                  class="text-subtitle-sm">Log out</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav-spacer">
        <!-- <div class="mobile-nav-mask" v-show="!isMobileNavScrollBottom"></div> -->
      </div>
    </aside>

    <transition name="opacity" v-cloak>
      <div class="bs-overlay" v-show="visible.overlay" @click="hideNavPanel"></div>
    </transition>

    <bs-header-login ref="loginPanel"></bs-header-login>
    <bs-header-signup ref="signupPanel"></bs-header-signup>
    <bs-header-forget-password ref="forgetpasswordPanel"></bs-header-forget-password>
    <bs-header-reset-password ref="resetpasswordPanel"></bs-header-reset-password>


    <!-- WP:start -->

    <main class="main">
      <div class="bs-banner">
        <div class="bs-container">
          <div class="bs-banner-title">
            Insurance & Claims
          </div>
        </div>
      </div>
      <article class="bs-container bs-container--paddingV">
        <div class="main-title text-h6">
          Parcel Insurance Policy
        </div>
        <div class="scheme" v-cloak>
          <div class="scheme-section scheme-tabs">
            <bs-tabs v-cloak>
              <bs-tab :is-underLine="currentTab === 'Basic'" @click="currentTab = 'Basic'">
                <div class="insurance-icon-basic scheme-tabs-icon"></div>
                <div class="bs-tab-desc text-subtitle-sm">Basic</div>
              </bs-tab>
              <bs-tab :is-underLine="currentTab === 'Enhanced'" @click="currentTab = 'Enhanced'">
                <div class="insurance-icon-advanced scheme-tabs-icon"></div>
                <div class="bs-tab-desc text-subtitle-sm">Enhanced</div>
              </bs-tab>
          </div>
          <article class="flip-list-item" v-show="currentTab === 'Basic'" key="Basic">
            <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-coverage scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Free Parcel Insurance Coverage
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-lost scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Lost Parcel
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-damaged scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Damaged Parcel
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
            </a-row>
          </article>
          <article class="flip-list-item" v-show="currentTab === 'Enhanced'" key="Basic">
            <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-coverage scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Free Parcel Insurance Coverage
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-lost scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Lost Parcel
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
              <a-col :xs="24" :md="8" :xl="8">
                <section class="scheme-section scheme-info">
                  <div class="scheme-info__title">
                    <div class="insurance-icon-damaged scheme-info__title__icon"></div>
                    <div class="text-subtitle-sm scheme-info__title__text">Damaged Parcel
                    </div>
                  </div>
                  <ul class="scheme-info__list">
                    <li>Packages can be stored in our Hong Kong warehouse for 30 days for consolidation at your own will.</li>
                    <li>Delivery Fee will be calculated based on the overall chargeable weight of the bulk</li>
                    <li>Shipping time can only be adhered to if customers consolidate parcels immediately</li>
                  </ul>
                </section>
              </a-col>
            </a-row>
          </article>
        </div>
        <section class="page-section page-section__title">
          <div class="text-h6">
            Insurance Does NOT Cover
          </div>
        </section>
        <section class="page-section">
          <div class="insurance-icon-parcels mb-0_5x page-section-icon"></div>
          <div class="text-subtitle-lg mb">
            Condition of Parcels
          </div>
          <div class="text-body-sm">
            <ul class="page-section-list">
              <li>Dangerous goods and <b>prohibited articles</b> (click here for more details</li>
              <li>Fragile goods and goods with improper packaging or lack of appropriate protection (such as ceramic glass, liquid crystal display, books, papers and Plastic Products) is not eligible for the insurance plan</li>
              <li>Damage due to improper packaging or lack of appropriate protection for the parcel</li>
              <li>Damage compensation is not applicable if the packaging is intact</li>
              <li>Damage compensation is not applicable if the outer packaging is damaged without any actual damage to the product itself</li>
              <li>For non-carton or wooden box packaging parcel, we will not accept any form of damagensurance DOES NOT Cover compensation</li>
            </ul>
          </div>
        </section>
        <section class="page-section">
          <div class="insurance-icon-lost mb-0_5x page-section-icon"></div>
          <div class="text-subtitle-lg mb">
            Lost Parcel
          </div>
          <div class="text-body-sm">
            <ul class="page-section-list">
              <li>Dangerous goods and <b>prohibited articles</b> (click here for more details</li>
              <li>Fragile goods and goods with improper packaging or lack of appropriate protection (such as ceramic glass, liquid crystal display, books, papers and Plastic Products) is not eligible for the insurance plan</li>
              <li>Damage due to improper packaging or lack of appropriate protection for the parcel</li>
              <li>Damage compensation is not applicable if the packaging is intact</li>
              <li>Damage compensation is not applicable if the outer packaging is damaged without any actual damage to the product itself</li>
              <li>For non-carton or wooden box packaging parcel, we will not accept any form of damagensurance DOES NOT Cover compensation</li>
            </ul>
          </div>
        </section>
        <section class="page-section">
          <div class="insurance-icon-damaged mb-0_5x page-section-icon"></div>
          <div class="text-subtitle-lg mb">
            Damaged Parcel
          </div>
          <div class="text-body-sm">
            <ul class="page-section-list">
              <li>Dangerous goods and <b>prohibited articles</b> (click here for more details</li>
              <li>Fragile goods and goods with improper packaging or lack of appropriate protection (such as ceramic glass, liquid crystal display, books, papers and Plastic Products) is not eligible for the insurance plan</li>
              <li>Damage due to improper packaging or lack of appropriate protection for the parcel</li>
              <li>Damage compensation is not applicable if the packaging is intact</li>
              <li>Damage compensation is not applicable if the outer packaging is damaged without any actual damage to the product itself</li>
              <li>For non-carton or wooden box packaging parcel, we will not accept any form of damagensurance DOES NOT Cover compensation</li>
            </ul>
          </div>
        </section>
        <section class="page-section page-section__title">
          <div class="text-h6">
            How to Claim
          </div>
        </section>
        <a-row :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col :xs="24" :md="12" :xl="12" class="pl-0">
            <section class="page-section">
              <div class="insurance-icon-secured mb-0_5x page-section-icon"></div>
              <div class="text-subtitle-lg mb">
                Precautions for Receiving Parcel
              </div>
              <div class="text-body-sm">
                <ul class="page-section-list">
                  <li>Dangerous goods and <b>prohibited articles</b> (click here for more details</li>
                  <li>Fragile goods and goods with improper packaging or lack of appropriate protection (such as ceramic glass, liquid crystal display, books, papers and Plastic Products) is not eligible for the insurance plan</li>
                  <li>Damage due to improper packaging or lack of appropriate protection for the parcel</li>
                  <li>Damage compensation is not applicable if the packaging is intact</li>
                  <li>Damage compensation is not applicable if the outer packaging is damaged without any actual damage to the product itself</li>
                  <li>For non-carton or wooden box packaging parcel, we will not accept any form of damagensurance DOES NOT Cover compensation</li>
                </ul>
              </div>
            </section>
          </a-col>
          <a-col :xs="24" :md="12" :xl="12" class="pr-0">
            <section class="page-section">
              <div class="insurance-icon-lost mb-0_5x page-section-icon"></div>
              <div class="text-subtitle-lg mb">
                Lost Parcel
              </div>
              <div class="text-body-sm">
                <ul class="page-section-list">
                  <li>Dangerous goods and <b>prohibited articles</b> (click here for more details</li>
                  <li>Fragile goods and goods with improper packaging or lack of appropriate protection (such as ceramic glass, liquid crystal display, books, papers and Plastic Products) is not eligible for the insurance plan</li>
                  <li>Damage due to improper packaging or lack of appropriate protection for the parcel</li>
                  <li>Damage compensation is not applicable if the packaging is intact</li>
                  <li>Damage compensation is not applicable if the outer packaging is damaged without any actual damage to the product itself</li>
                  <li>For non-carton or wooden box packaging parcel, we will not accept any form of damagensurance DOES NOT Cover compensation</li>
                </ul>
                </ul>
              </div>
            </section>
          </a-col>
        </a-row>
      </article>
    </main>
    <!-- WP:end -->

    <footer class="bs-footer" v-cloak>
      <div class="footer-graphic" v-if="isShowGraphic">
        <picture>
          <source media="(max-width: 1199px)" srcset="
              /buyandshipdemo/assets/img/footer_768px.png 1x,
              /buyandshipdemo/assets/img/footer_768px@2x.png 2x,
              /buyandshipdemo/assets/img/footer_768px@3x.png 3x
            " sizes="100vw">
          <source media="(min-width: 1200px)" srcset="
              /buyandshipdemo/assets/img/footer_1440px.png 1440w,
              /buyandshipdemo/assets/img/footer_1440px@2x.png 2880w,
              /buyandshipdemo/assets/img/footer_1440px@3x.png 4320w
            " sizes="100vw">
          <img class="footer-graphic-media" src="/buyandshipdemo/assets/img/footer_1440px.png" alt="cat is shipping">
        </picture>
      </div>
      <div class="bs-container">
        <a-row class="footer-nav" :gutter="{ xs: 0, md: 24, lg: 24 }" v-cloak>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">Shop</div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/blog-list">Discount</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/blog-list">Lastest news</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="3" :xl="6">
            <div class="footer-nav-group-label">Ship</div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/tutorial">Tutorial</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/pricing">Pricing</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/advantage">Advantages</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-nav-group-label">About</div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/about-us">Buyandship Singapore Pte. Ltd</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/warehouses">Warehouse Locations</a>
            </div>
            <div class="footer-nav-group-item">
              <a href="https://www.buyandship.com.tw/contact-us">Contact</a>
            </div>
          </a-col>
          <a-col class="footer-nav-group" :xs="24" :md="9" :xl="6">
            <div class="footer-social">
              <div class="footer-social-box">
                <a class="footer-social-box-link" href="https://www.facebook.com/buyandship.com.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-facebook"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.instagram.com/buyandship.tw">
                  <i class="bs-icon">
                    <span class="bs-icon-instagram"></span>
                  </i>
                </a>
                <a class="footer-social-box-link" href="https://www.youtube.com/channel/UCyoFLixf25b55MuiDaGgtvA">
                  <i class="bs-icon">
                    <span class="bs-icon-youtube"></span>
                  </i>
                </a>
              </div>
            </div>
            <div class="footer-location">
              <div class="footer-location-icon">
                <i class="bs-icon-environment" style="margin-left: -6px;"></i>
              </div>
              <div class="footer-location-desc">Head office: RM706, 7/F., Join-in Hang Sing Centre, 2-16 Kwai Fung Crescent, Kwai Chung, NT.</div>
            </div>
            <div class="footer-download">
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="AppStore" src="/buyandshipdemo/assets/img/AppStore_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/AppStore_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/AppStore_200px@3x.png 3x
                  ">
              </a>
              <a class="footer-download-link" href="#">
                <img class="footer-download-link-media" alt="GooglePlay" src="/buyandshipdemo/assets/img/GooglePlay_200px@2x.png" srcset="
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 1x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@2x.png 2x,
                    /buyandshipdemo/assets/img/GooglePlay_200px@3x.png 3x
                  ">
              </a>
            </div>
          </a-col>
        </a-row>
        <div class="footer-bottom">
          <div class="footer-country">
            <a class="footer-country-link" href="javascript:;" @click.prevent="toggleNavPanel('country', true)">
              <i class="bs-icon-country"></i>
              <span>Singapore</span>
            </a>
          </div>
          <div class="footer-copyright">
            <span class="footer-copyright-desc"> © 2019 E-BUY Global Limited.</span>
            <a class="footer-copyright-link" href="https://www.buyandship.com.tw/terms">Terms of Use</a>
            <a class="footer-copyright-link" href="https://www.buyandship.com.tw/privacy">Privacy</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script src="/buyandshipdemo/assets/js/common.js?24be74b3f89b346768d0"></script>
  <script src="/buyandshipdemo/assets/js/insurance.js?24be74b3f89b346768d0"></script>
</body>

</html>